*{
    margin: 0px;
    padding: 0px;
}

.indexHeader{
    width: 100vw;
    height: 60px;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    border-bottom: 1px solid white;
    z-index: 4;
}

.indexHeader img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    margin-left: 30px;
}

.indexHeader .navbarLinksPc{
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    margin-right: 200px;
}

@media(max-width:700px){
    .indexHeader .navbarLinksPc{
        display: none;
    }
}

.indexHeader .navbarLinksPc a{
    text-decoration: none;
    color: white;
}
.index .navbarMobile{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px;
}

@media(min-width:701px){
    .index .navbarMobile{
        display: none;
    }
}
.index .navbarMobile span{
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 10px;
}


.index .navbarLinksMobile{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 5;
}


.index .navbarLinksMobile .navbarMenuMobile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    font-size: 20px;
    position: relative;
    top: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.index .navbarLinksMobile .navbarMenuMobile a{
    text-decoration: none;
    color: white;
}

.index .navbarLinksMobile i{
    color: white;
    float: right;
    font-size: 25px;
   
}


.closeIcon{
    display: flex;
    flex-direction: column;
    gap: 10px;
    float: right;
    margin-right: 8px;
    margin-top: -75px;
}

.closeIcon span{
    width: 30px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
}

.closeIcon span:nth-child(1){
    transform: rotate(43deg);
}


.closeIcon span:nth-child(2){
    transform: rotate(135deg);
    margin-top: -13px;
}


