@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Iceberg&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar{
    width: 0px;
}

.indexHeader {
    width: 100vw;
    height: 60px;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    border-bottom: 1px solid white;
    z-index: 4;
    color: white;
}

.indexHeader img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    margin-left: 30px;
}

.themeChange{
    margin-left: 140px;
}
@media(max-width:700px){
    .themeChange{
        margin-left: 250px;
    }
}
@media(max-width:480px){
    .themeChange{
        margin-left: 200px;
    }
}

@media(max-width:390px){
    .themeChange{
        margin-left: 120px;
    }
}
@media(max-width:320px){
    .themeChange{
        margin-left: 90px;
    }
}

.indexHeader .navbarLinksPc {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    margin-right: 200px;
}

@media(max-width:700px) {
    .indexHeader .navbarLinksPc {
        display: none;
    }
}

.indexHeader .navbarLinksPc a {
    text-decoration: none;
    color: white;
}

.index .navbarMobile {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px;
}

@media(min-width:701px) {
    .index .navbarMobile {
        display: none;
    }
}

.index .navbarMobile span {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 10px;
}


.index .navbarLinksMobile {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 5;
}


.index .navbarLinksMobile .navbarMenuMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    font-size: 20px;
    position: relative;
    top: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.index .navbarLinksMobile .navbarMenuMobile a {
    text-decoration: none;
    color: white;
}

.index .navbarLinksMobile i {
    color: white;
    float: right;
    font-size: 25px;

}


.closeIcon {
    display: flex;
    flex-direction: column;
    gap: 10px;
    float: right;
    margin-right: 8px;
    margin-top: -75px;
}

.closeIcon span {
    width: 30px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
}

.closeIcon span:nth-child(1) {
    transform: rotate(43deg);
}


.closeIcon span:nth-child(2) {
    transform: rotate(135deg);
    margin-top: -13px;
}


.index .indexMain {
    position: absolute;
    top: 10px;
    width: 100%;
    height: 100%;
}



.index .indexMain .indexMainDiv1 {
    position: relative;
    top: 90px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.indexMain .indexMainDiv1 .websiteBorder{
    width: 95%;
    height: 200px;
    border: 1px solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    
}


.indexMain .indexMainDiv1 .websites{
    width: 150px;
    height: 150px;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    align-content: center;
    text-align: center;
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    border-radius: 50%;
}   

.indexMain .indexMainDiv1 .websiteBorder button{
    width: 130px;
    height: 30px;
    border: none;
    border-radius: 8px;
    background-image: radial-gradient( circle farthest-corner at 3.2% 49.6%,  rgba(80,12,139,0.87) 0%, rgba(161,10,144,0.72) 83.6% );
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.indexMain .indexMainDiv1 .websiteBorder button:hover{
    background-color: red;
    background-image: linear-gradient( 91.2deg,  rgba(136,80,226,1) 4%, rgba(16,13,91,1) 96.5% );}